<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), 
:html => { :method => :put }) do |f| %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= devise_error_messages! %>

<fieldset>
    <legend>General Settings</legend>
<br>
<div class="row">
 <div class="span4"><%= f.label :name %>
  <%= f.text_field :name, :placeholder => "Insert name", :class => "input-xlarge" %></div>
  <div class="span4">
  <%= f.label :surname %>
   <%= f.text_field :surname, :placeholder => "Insert surname", :class => "input-xlarge" %>
</div>
</div>

<div class="row">
  <div class="span4">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="span4">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
</div>

<div class="row">
  <div class="span4">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>
  <div class="span4">
    <%= f.label :current_password %> <i>(your current password to confirm all)</i><br />
    <%= f.password_field :current_password %>
  </div>
</div>

  <div><%= f.submit "Update", :class => "btn btn-large btn-primary" %></div><br>
</fieldset>

<fieldset>
  <legend>Cancel my account</legend>
<br>
<div class="row">
  <div class="span8">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.
  </div>
</div>
  <%= link_to "Back", :back %>

<% end %>
