<h1>Listing bbs</h1>

<table>

<% div_for bb do %>
  <tr>
    <td><%= bb.name %></td>
    <td><%= bb.address %></td>
    <td><%= bb.city %></td>
    <td><%= bb.zipcode %></td>
    <td><%= bb.area %></td>
    <td><%= bb.state %></td>
    <td><%= bb.phone %></td>
    <td><%= bb.fax %></td>
    <td><%= bb.web %></td>
    <td><%= bb.user_id %></td>
    <td><%= link_to 'Show', bb %></td>
    <td><%= link_to 'Edit', edit_bb_path(bb) %></td>
    <td><%= link_to 'Destroy', bb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bb', new_bb_path %>
