<%= form_for @bb, :html => {:multipart => true} do |f| %>
  <% if @bb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bb.errors.count, "error") %> prohibited this bb from being saved:</h2>

      <ul>
      <% @bb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name*" %> <%= f.text_field :name, :class => "input-xxlarge" %>
  </div>
  <fieldset>
    <legend>Address: <small>*compulsory fields</small></legend>
    <div class="field">
    <%= f.label "Address*" %> <%= f.text_field :address, :class => "input-xxlarge" %>
  </div>
    <div class="row">
    <div class="span4"><%= f.label "State*" %> <%= f.text_field :state %></div>
    <div class="span4"><%= f.label "Area*" %> <%= f.text_field :area %></div>
  </div>

  <div class="row">
    <div class="span4"><%= f.label "City*" %> <%= f.text_field :city %></div>
    <div class="span4"><%= f.label "Zipcode*" %> <%= f.text_field :zipcode %></div>
  </div>

  <div class="row">
    <div class="span4"> <%= f.label "Phone*" %> <%= f.text_field :phone %></div>
    <div class="span4"><%= f.label :fax %> <%= f.text_field :fax %></div>
  </div>
  </fieldset>

  <div class="row">
    <div class="span4">
    <%= f.label "Web site" %> <%= f.text_field :web, :placeholder => 'http://www.example.com' %>
  </div>
  <div class="span4">
    <%= f.label "Avatar" %>
    <%= f.file_field :image %>
  </div>
  <div class="span4">
    <%= f.label :remote_image_url, "or image URL"  %>
    <%= f.text_field :remote_image_url %>
  </div>
</div>

  <div class="actions">
    <%= f.submit "Update b&b", :class => "btn btn-large btn-primary" %>
  </div>
<% end %>
