
<p>
  <b>Name:</b>
  <%= @bb.name %>
</p>

<p>
  <b>Address:</b>
  <%= @bb.address %>
</p>

<p>
  <b>City:</b>
  <%= @bb.city %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @bb.zipcode %>
</p>

<p>
  <b>Area:</b>
  <%= @bb.area %>
</p>

<p>
  <b>State:</b>
  <%= @bb.state %>
</p>

<p>
  <b>Phone:</b>
  <%= @bb.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @bb.fax %>
</p>

<p>
  <b>Web:</b>
  <%= @bb.web %>
</p>

<%= link_to 'Edit', edit_bb_path(@bb) %> |
<%= link_to 'Back', bbs_path %>
