<%= form_for(resource, :html => { :class => "form-signin"}, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<h2>Sign in</h2>
  <div><%= f.email_field :email, :placeholder => "Email address", :class => "input-block-level" %></div>

  <div><%= f.password_field :password, :placeholder => "Insert password", :class => "input-block-level"%></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, :class => "checkbox" %></div>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-large btn-primary" %></div>
  <br>
  <%= render "devise/shared/links" %>
<% end %>