<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "BBmanager", '/', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Index",    '/' %></li>
              <li><%= link_to "Contact",    '/static_pages/contact' %></li>
              <% if user_signed_in? %>
                <% if current_user.name.blank? && current_user.surname.blank? %>
                <li>
                    <%= link_to "#{current_user.email}", "#",
                    :class => "dropdown-toggle", :data => {:toggle => "dropdown"} %>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><%= link_to "Update profile", edit_user_registration_path %></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                    </ul>
                </li>
                <% else %>
                <li>
                  <!--<div class="dropdown">-->
                    <%= link_to "#{current_user.name} #{current_user.surname}", "#", 
                    :class => "dropdown-toggle", :data => {:toggle => "dropdown"} %>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><%= link_to "Update profile", edit_user_registration_path %></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                    </ul>
                  <!--</div>-->
                  </li>
                  <% end %>
              <% else %>
              <li><%= link_to "Sign in", '/users/sign_in' %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>