<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "BBmanager", '/', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "<i class = 'icon-home icon-white'></i> Index".html_safe,    '/' %></li>
              <li><%= link_to "<i class = 'icon-envelope icon-white'></i> Contact".html_safe,    '/static_pages/contact' %></li>
              <% if user_signed_in? %> 
                <li>
                    <% if current_user.name.blank? && current_user.surname.blank? %>
                    <%= link_to "#{current_user.email}", "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"} %>
                    <% else %>
                    <%= link_to "<i class = 'icon-user icon-white'></i> #{current_user.name} #{current_user.surname}".html_safe, "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"} %>
                    <% end %>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><%= link_to "Edit profile", edit_user_registration_path %></li>
                    <% if current_user.bb %><li><%= link_to "my B&B", my_bb_bbs_path(@bb) %></li> <% end %>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                    </ul>
                </li>
              <% else %>
              <li><%= link_to "<i class='icon-off icon-white'></i> Sign in".html_safe, '/users/sign_in' %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>